body {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 10px;
  letter-spacing: 0.2em;
  background-color: #ffffff;
  color: #666565;
  font-family: "Arial", sans-serif;
  line-height: 10px;
  scroll-behavior: smooth;
  transition: all 0.4s ease 0s;
}

/* リンクの設定 */
a {
  text-decoration: none;
  color: #3e3e3e;
}

a:hover {
  opacity: 1;
}

/* ページの先頭へ */
.pagetop {
  display: none;
  font-weight: 600;
}

/* スマートフォン用のページ先頭へ */
@media screen and (max-width: 600px) {
  .pagetop {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: auto;
    height: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(69, 42, 42, 0);
    border: solid 1px #fcfcfc0f;
    border-radius: 50px;
    transition: transform 0.3s ease;
    z-index: 2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

/* ページトップのホバーアニメーション */
.pagetop:hover {
  transform: scale(1.1);
}

/* マウスストーカーカーソルの設定 */
.stalker {
  mix-blend-mode: difference;
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #efefefc5;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
  z-index: 10000;
}



@media (max-width: 600px) {
  .stalker {
    display: none;
  }
}

.loading-screen {
  font-size: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease;
  z-index: 9999;
}

.loading-screen h1 {
  font-weight: 100;
}

.content {
  opacity: 1;
  transition: opacity 0.5s ease;
  height: 1000vh;
  overflow: auto;
}

.content.loaded {
  opacity: 1;
}

/* ヘッダーの設定 */
header {
  font-size: 15px;
  font-family: "Futura", Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* HARULAB文字のスタイル */
.container {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 1px 100px 0 rgba(122, 122, 122, 0.092);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* 背景設定を削除するか、適切な背景を設定する */
  border: 0.1px solid rgba(0, 0, 0, 0.048);
}

#menu-button {
  padding: 10px 30px;
  z-index: 999;
  cursor: pointer;
  user-select: none;
}

#menu-button span {
  padding-bottom: 7px;
  position: relative;
  display: block;
  transition: all .2s ease-in-out;
}

#menu-button span:before {
  top: -4px;
  visibility: visible;
}

#menu-button span:after {
  top: 3px;
}

#menu-button span:before, #menu-button span:after {
  height: 3px;
  width: 30px;
  background-color: rgba(44, 44, 44, 0.622);
  position: absolute;
  content: "";
  transition: all .2s ease-in-out;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked~#menu {
  visibility: visible;
}

/* チェックされたメニューボタンのスタイルを調整 */
input[type=checkbox]:checked~#menu-button span {
  background: transparent;
}

input[type=checkbox]:checked~#menu-button span:before {
  transform: rotate(-135deg) translate(0px, -6px);
}

input[type=checkbox]:checked~#menu-button span:after {
  transform: rotate(135deg) translate(1px, 5px);
}

#menu {
  background: linear-gradient(to bottom, #5a5a5a9e, #454545);
  height: 100vh;
  width: 100vw;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#menu ul {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10vh;
  padding-left: 0;
  list-style-type: none;
}

#menu ul li {
  padding: 1em;
  margin-top: 30px;
}

#menu ul li a {
  letter-spacing: 5px; 
  color: #fff;
  text-decoration: none;
  font-size: 3em;
}

#menu ul li :hover {
  color: #ffffff6f !important;
}




/* ロゴのスタイル */

.logo {
  font-family: "Futura", Helvetica, sans-serif;
  margin-right: 5%;
  transition: transform 0.4s ease;
}

.logo:hover {
  transform: scale(0.9);
  /* ホバー時の拡大アニメーション */
}


/* 600ピクセル以下でメニューを非表示に */

@media screen and (max-width: 601px) {
  .menu {
    display: none;
  }
  .container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}


/* 600ピクセル以上でメニューを非表示に */

@media screen and (min-width: 601px) {
  #menu-button {
    display: none;
  }
}

.whoami {
  position: relative;
  font-size: 7px;
  text-align: left;
  padding-left: 50px;
  margin-right: 40px;
  padding-bottom: 90px;
  z-index: auto;
  letter-spacing: 4px;
  transition: transform 0.4s ease;
}

.whoami:hover {
  transform: scale(0.99);
  /* ホバー時の拡大アニメーション */
}

.whoami h1 {
  font-weight: 200;
  font-family: "Futura", Helvetica, sans-serif;
  font-size: 24px;
  padding-top: 150px;
  margin-right: 40px;
  /* Add margin to create space for the icon */
}

.whoami p {
  font-size: 10px;
  position: relative;
}


/* Media Query for Responsive Design */

@media screen and (max-width: 600px) {
  .whoami {
    font-size: 5px;
    /* Adjust the font size for smaller screens */
    padding: 50px;
    /* Adjust the padding for smaller screens */
    letter-spacing: 4px;
  }
}

.whoami h1 {
  padding-top: 150px;
  /* Adjust the font size for smaller screens */
  .whoami p {
    font-size: 8px;
    /* Adjust the font size for smaller screens */
  }
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 20px;
  padding: 0;
}

.menu li {
  margin-right: 10px;
  transition: transform 0.5s ease;
}

.menu ul :hover {
  transform: scale(0.9);
  /* ホバー時の拡大アニメーション */
}

span {
  background-color: rgb(73, 73, 52);
}


/* カード型レイアウトの設定 */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* 左寄せ */
  align-items: center;
  text-align: left;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 100px;
}

.card-info {
  padding-left: 20px;
}

.card {
  width: calc(33.33% - 20px);
  /* カードの幅を計算 */
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  /* アニメーションプロパティ */
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease 0s; /* カードのアニメーション設定 */
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  /* ホバー時の影 */
  transform: scale(0.95);
  /* ホバー時の拡大 */
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card h2 {
  line-height: 2;
  text-align: left;
  font-size: 14px;
  margin: 10px 0;
}

.card p {
  margin-top: 10px;
  padding-bottom: 7px;
}

@media screen and (max-width: 700px) {
  .card {
    width: calc(50% - 20px);
    /* 最大2列 */
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: calc(100% - 20px);
    /* 1列 */
  }
}


/*料金のデザイン*/

.price-cale {
  text-align: center;
  /* 中央揃え */
  padding: 10px
}

.price-cale h2 {
  text-align: left;
}

select, input[type="number"] {
  width: 100%;
  padding: 15px;
  color: #000000;
  border: none;
  border-radius: 50px;
  background-color: #96979921;
  -webkit-appearance: none;
  /* Webkit系ブラウザ対応 */
  -moz-appearance: none;
  /* Firefox対応 */
  appearance: none;
  /* 一般的なブラウザ対応 */
  background-image: none;
  /* 背景画像を非表示 */
}

button {
  font-size: 15px;
  background-color: rgba(124, 124, 124, 0.095);
  color: #313131;
  border: none;
  padding: 15px 39px;
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out;
  margin-top: 30px;
  display: block;
  /* 左寄せ */
}

#result {
  font-weight: bold;
  font-size: 20px;
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 10px;
  text-align: left;
  /* 左寄せ */
}

.price {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 99%;
  text-align: left;
  margin: 0 auto;
  padding-top: 100px;
  font-size: 10px;
  line-height: 1.5;
  margin-bottom: 100px;
}

@media screen and (max-width: 700px) {
  .price {
    grid-template-columns: repeat(1, 1fr);
    /
  }
}

@media screen and (min-width: 1400px) {
  .price {
    grid-template-columns: repeat(3, 1fr);
    /* 1200px以上の場合、3列に変更 */
  }
}

.price h1 {
  padding: 13px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
}

.price p {
  text-align: left;
  font-size: 13px;
  line-height: 2;
  padding: 20px;
  margin-top: 1px;
  background-color: #c3c3c338;
  border-radius: 10px;
}

.price-container {
  padding: 10px 30px;
  border-radius: 10px;
  margin: 5px;
}

.price li {
  text-align: left;
  margin-left: -30px;
  font-size: 13px;
  line-height: 2;
  /* 点を消す */
  list-style: none;
}


/* ペイメントセクション全体 */

.payment {
  font-family: "Futura", Helvetica, sans-serif;
  margin: 10px;
  font-size: 13px;
  line-height: 2;
}


/* 支払いコンテナ */

.payment-container {
  padding: 10px 20px;
  border-radius: 10px;
  padding-bottom: 20px;
}


/* 支払いコンテナ内のテキスト */

.payment-container li {
  padding-left: 30px;
}


/* 支払いサービスコンテナ */

.payment-service {
  border-radius: 20px;
  padding: 20px 10px;
  display: grid;
  /* グリッドレイアウト */
  grid-template-columns: repeat(auto-fit, minmax(3px, 0.3fr));
  /* 幅が広くなると2列に変化 */
}


/* 支払いサービスの各アイテム */

.payment-service-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* サービス画像 */

.payment-service-item img {
  max-width: 60%;
  /* 画像の最大幅を100%に設定 */
  height: auto;
  max-height: 60%;
  /* 画像の最大高さを設定 */
  margin-bottom: 5px;
}

sns-overlay {
  text-align: left;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 180px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sns-links {
  transform: translateY(1px);
  box-shadow: -3px 3px 20px 0 rgba(255, 255, 255, 0.114);
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* Center align the content horizontally */
  border-radius: 50px 50px 0 0;
  /* 上の角だけに角丸を適用 */
  width: 35%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 100px;
  margin-right: auto;
  transition: transform 0.5s ease;
  /* サイズ変更のトランジションを追加 */
}

.sns-link {
  
  filter: invert(1); /* アイコンの色を反転 */
  color: #000; /* 通常の色 */
  text-decoration: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 6px;
}

.sns-link img {
  
  height: 20px;
  transition: transform 0.4s ease;
  /* サイズ変更のトランジションを追加 */
}

.sns-link:hover img {
  transform: scale(1.4);
  transform: translateY(3px);
  /* ホバー時のサイズ拡大アニメーションと色反転 */
}



/* スタイルシートに記述 */
.footer {
  
  color: #111111; /* フッターのテキスト色を設定 */
  padding: 30px; /* パディングを追加してフッターの内部のスペースを調整 */
  text-align: center; /* テキストを中央揃えにする */
}


/* ダークモード */
@media (prefers-color-scheme: dark) {

  body {
    background-color: #222222;
    color: #ffffffe2;
  }

  .card {
    background-color: #252525;
  }

  a {
    color: #ffffff;
  }


  .price h1 {
    color: #ffffff;
  }
  .payment-container {
    color: #ffffff;
  }

  /* セレクト文字のカラーを調整 */
  select,
  input[type="number"] {
    color: #ffffff;
  }

  button {
    color: #fafafa;
  }

  .price p {
    background-color: #3c3c3c69;
  }

  .sns-link {
    filter: invert(0); /* アイコンの色を反転 */
  }

  .footer{
    color: #ffffff;
  }

  #menu {
    background-color: #111111a0;
  }

  #menu-button span:before,
  #menu-button span:after {
    height: 3px;
    width: 30px;
    background-color: #e6e6e6e8;
  }
}
