body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 5px;
  letter-spacing: 0.3em;
  background-color: #eeeeee;
  color: #666565;
  line-height: 20px;
  align-items: center;
  transition: transform 0.3s ease;
  

}

/* リンクの設定 */

a {
  text-decoration: none;
  color: #3e3e3e;
  transition: opacity 0.5s ease;

}

a:hover {
  opacity: 1;

}


html {
  scroll-behavior: smooth;
}

.pagetop {
  display: none;
  /* 初めは非表示 */
}

@media screen and (max-width: 600px) {
  .pagetop {
    height: 30px;
    width: auto;
    position: fixed;
    left: 30px;
    /* 左側に移動 */
    bottom: 30px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: solid 1px #fcfcfc0f;
    border-radius: 20px;
    padding: 10px 20px;
    /* 余白追加 */
    display: flex;
    justify-content: flex-start;
    /* 左寄せ */
    align-items: center;
    z-index: 2;
    transition: transform 0.3s ease;
    /* ホバーアニメーション用のトランジションを追加 */
  }
}

.pagetop:hover {
  transform: scale(1.1);
  /* ホバーアニメーション */
}



.pagetop a {
  text-decoration: none;
  font-size: 10px;
}



/* カーソルの設定 */

.stalker {
  mix-blend-mode: difference;
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #efefefc5;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
  z-index: 9999;
  /* アニメーションを適用 */
}

@media (max-width: 500px) {

  /* スマートフォンの幅以下の場合 */
  .stalker {
    display: none;
    /* マウスストーカーを非表示にする */
  }
}

@keyframes pulse {
  from {
    width: 15px;
    /* 初期の大きさ */
    height: 15px;
  }

  to {
    width: 25px;
    /* 大きくなるサイズ */
    height: 25px;
  }
}


.loading-screen {
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease;
  /* フェードアウトのトランジションを適用 */
  z-index: 9999;
}

.loading-screen h1 {
  font-weight: 100;
}


.content {
  opacity: 0;
  transition: opacity 0.5s ease;
  height: 100vh;
  overflow: auto;
}

.content.loaded {
  opacity: 1;
}




/* ヘッダーの設定 */

header {

  font-size: 14px;
  font-family: "Futura", Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 15px;


}



/* コンテナの設定 */

.container {
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(0, 0, 0, 0.048);

}


/* ロゴの設定 */
.logo {
  font-family: "Futura", Helvetica, sans-serif;
  margin-right: 5%;
  transition: transform 0.4s ease;
}

.logo:hover {
  transform: scale(0.9);
  /* ホバー時の拡大アニメーション */
}

.whoami {
  position: relative;
  font-weight: 10;
  font-size: 7px;
  text-align: left;
  padding-left: 50px;
  padding-top: 70px;
  padding-bottom: 90px;
  z-index: auto;
  letter-spacing: 4px;
  transition: transform 0.4s ease;
  
}

.whoami:hover {
  transform: scale(0.99);
  /* ホバー時の拡大アニメーション */
}

.whoami h1 {
  font-size: 24px;
  padding-top: 150px;
  margin-right: 40px; /* Add margin to create space for the icon */
  
  background: linear-gradient(transparent 94%, #4adddd6e 0%);
  border-radius: 10px;
  width: 170px;
  
}

.whoami p {
  font-size: 10px;
  position: relative;

}




/* Media Query for Responsive Design */
@media screen and (max-width: 600px) {
  .whoami {

    font-size: 5px;
    /* Adjust the font size for smaller screens */
    padding: 50px;
    /* Adjust the padding for smaller screens */
    letter-spacing: 4px;

  }
}

.whoami h1 {
  padding-top: 150px;
  /* Adjust the font size for smaller screens */


  .whoami p {
    font-size: 8px;
    /* Adjust the font size for smaller screens */
  }
}



.menu ul {
  list-style: none;
  display: flex;
  margin: 20px;
  padding: 0;

}





.menu li {
  margin-right: 10px;
  transition: transform 0.5s ease;
}

.menu ul :hover {
  transform: scale(0.9);
  /* ホバー時の拡大アニメーション */
}

span {
  background-color: rgb(73, 73, 52);
}

/* カード型レイアウトの設定 */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* 左寄せ */
  align-items: center;
  text-align: left;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 100px;
}




.card-info {
  padding-left: 20px;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* アニメーションプロパティを追加 */
  width: calc(100% / 3 - 20px);
  margin: 10px;
  border-radius: 10px;
  /* 角丸の半径を設定 */
  overflow: hidden;
  /* 余分な内容がはみ出ないようにオーバーフローを隠す */
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transform: scale(1.06);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* アニメーションプロパティを追加 */
}

.card:not(:hover) {
  transform: scale(1);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 10px;
  /* 左上の角丸を設定 */
  border-top-right-radius: 10px;
  /* 右上の角丸を設定 */
}

.card h2 {
  line-height: 2;
  text-align: left;
  font-size: 12px;
  margin: 10px 0;
}

.card p {
  text-align: left;
  padding: 2px;
  margin-top: -10px;
  font-size: 10px;
}

@media screen and (max-width: 700px) {
  .card {
    width: calc(50% - 20px);
    /* 最大2列 */
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: calc(100% - 20px);
    /* 1列 */
  }
}


/*料金のデザイン*/

.price {


  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 95%;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  font-size: 10px;
  line-height: 1.5;
  margin-bottom: 100px;
}

@media screen and (max-width: 700px) {
  .price {
    grid-template-columns: repeat(1, 1fr);/
  }
}



.price h1 {
  background-color: #a8a6a60f;
  padding: 10px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;

}

.price p {
  text-align: left;
  font-size: 13px;
  line-height: 2;
  padding: 20px;
  margin-top: 1px;
  background-color: #2951a225;
  border-radius: 10px;
}

.price-container {
  background-color: #f7f7f7;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}

.price li {
  text-align: left;
  margin-left: -30px;
  font-size: 13px;
  line-height: 2;
  /* 点を消す */
  list-style: none;
}


/* ペイメントセクション全体 */
.payment {


  font-family: "Futura", Helvetica, sans-serif;
  text-align: center;
  margin: 10px;
  font-size: 13px;
  line-height: 2;
}

/* セクションタイトル */
.payment h1 {
  background-color: #5757570b;
  padding: 10px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;

}

/* 支払いコンテナ */
.payment-container {

  background-color: #f4f4f4cf;
  padding: 10px 20px;
  border-radius: 10px;
  padding-bottom: 20px;

}

/* 支払いコンテナ内のテキスト */
.payment-container li {
  padding-left: 30px;

}

/* 支払いサービスコンテナ */
.payment-service {

  background-color: #7979791a;
  border-radius: 20px;
  padding: 20px 10px;
  display: grid;
  /* グリッドレイアウト */
  grid-template-columns: repeat(auto-fit, minmax(3px, 0.3fr));
  /* 幅が広くなると2列に変化 */
}

/* 支払いサービスの各アイテム */
.payment-service-item {

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* サービス画像 */
.payment-service-item img {
  max-width: 70%;
  /* 画像の最大幅を100%に設定 */
  height: auto;
  max-height: 70%;
  /* 画像の最大高さを設定 */
  margin-bottom: 5px;
}



footer {

  text-align: left;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 180px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.sns-links {
  box-shadow: -3px 3px 20px 0 rgba(255, 255, 255, 0.114);
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* Center align the content horizontally */
  border-radius: 50px 50px 0 0; /* 上の角だけに角丸を適用 */

  width: 35%;

  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 100px;
  margin-right: auto;
  

  transition: transform 0.5s ease;
  /* サイズ変更のトランジションを追加 */
}

.sns-link {
  

  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 6px;
}

.sns-link img {
  height: 20px;
  transition: transform 0.4s ease;
  /* サイズ変更のトランジションを追加 */
}

.sns-link:hover img {
  transform: scale(1.7);
  /* ホバー時のサイズ拡大アニメーション */
}

.sns-links:hover {
  transform: scale(1.1);
  /* ホバー時のサイズ拡大アニメーション */
}



@media (prefers-color-scheme: dark) {

  body {
    background-color: #161616;
    color: #ffffff;
  }

  .card {
    background-color: #222121;
  }

  a {
    color: #ffffff;
  }
  .container {
    box-shadow: 2px 3px 15px 0 rgba(255, 255, 255, 0.1);
  }

  .price h1 {
    color: #ffffff;
  }

  .sns-links a {
    color: #ffffff;
  }

  .price-container {
    background-color: #262626;
  }

  .payment-container {
    background-color: #252525;
  }

  .sms-link img {
  
  }
}